.forgot-password{
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 80vh;
}

.input-wrapper {
    width: 90%;
}

.form-submit {
    width: 60%;
}

@media (max-width:600px) {
    .forgot-password {
        margin-top: 25px;
    }

    .input-wrapper {
        width: 100%;
    }

    .form-submit {
        width: 70%;
    }
}