.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    height: 8vh;
}

.navbar .logo {
    width: max(10%, 80px);
    cursor: pointer;
}

.navbar .profile {
    width: 40px;
}